body{
	width: 100%;
	position: relative;
	background-color: rgb(5, 190, 175);
}

#block{
	width: 96%;
	min-height: 92vh;
	position: absolute;
	background-color: white;
	margin-top: 0.5%;
	margin-left: 1.5%;
}

nav{
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: rgb(163, 219, 210);
	opacity: 0.7;
	float: left;
}

#logo{
	font-size: 1.1vw;
	margin: -5px;
	font-family: Monoton;
	letter-spacing: 3px;
}

#bloc_compte{
	position: relative;
	width: 800px;
	float: right;
	height: 60px;
	text-align: right;
}

#accueil{
	position: absolute;
	right: 100px;
	top: 20px;
	font-size: 0.8vw;
	font-family: Roboto;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

#arrow{
	display: inline-block;
	width: 8%;
	margin-right: 9px;
	margin-top: 12px;
}

#accueil:hover {
	color: rgb(36, 70, 61);
	cursor: crosshair;
}

#bloc_connexion{
	width: 100%;
	position: relative;
	min-height: 86vh;
	margin-top: 60px;
}


#nouveau{
	position: absolute;
	left: 10%;
	width: 30%;
	min-height: 86vh;
}

#ancien{
	position: absolute;
	right: 10%;
	width: 30%;
	min-height: 86vh;
}

#vertical_border{
	position: absolute;
	min-height: 70vh;
	right: 50%;
	top:7%;
	border: solid 3px rgb(13, 121, 122);
	opacity: 0.6;
}

h2{
	text-align: center;
	font-family: Roboto;
	letter-spacing: 2px;
	font-size: 1vw; 
}

/*form*/

.input[type=text], .input[type=tel], .input[type=date], .select, .input
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
	font-size: 0.6vw;
	color: #A9A9A9;
	margin-left: 100px;
	font-family: Roboto;
}
  
.label
{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 0.6vw;
	color: #000000;
	margin-left: 100px;
}
  
.input[type=submit]
{
    background-color: rgb(13, 121, 122);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	float: center;
	opacity: 0.6;
	font-family: Roboto;
	letter-spacing: 1px;
}

.input[type=submit]:hover
{
    opacity: 0.5;
}
  
.container
{
    border-radius: 5px;
	background-color: #f2f2f2;
    padding: 20px;
}
  
.col-25
{
    float: left;
    width: 60%;
	margin-top: 10px;
}
  
.col-75 
{
    float: left;
    width: 35%;
	margin-top: 10px;
}
  
.row:after
{
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 600px)
{
    .col-25, .col-75, .input[type=submit]
    {
      width: 100%;
      margin-top: 100;
    }
}